.countryDetailPageContainer {
    width: 90%;
    margin: auto;
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: space-around;
}

.Flag {
    height: fit-content
}

.Columns {
    width: 100%;
    display: flex;
}

.leftColumn {
    width: 50%;
}

.borderingCountriesList {
    display: inline-flex;
    flex-wrap: wrap;
    max-width: 500px;
    gap: 10px;
}

.backBtn {
    margin-right: 90%;
    height: fit-content;
    width: max-content;
    background-color: white;
    box-shadow: 0px 0px 10px 2px #DDDDDD;
    border-radius: 10px;
    padding: 10px;
  }

@media (max-width: 960px) {

    .Flag {
        width: 100%;
    }

    .infoContainer {
        padding: 0;
    }
   .countryDetailPageContainer {
    flex-direction: column;
   }
   .countryDetailContainer {
       flex-direction: column;
   }

   .borderingCountriesList {
       width: 90vw;
   }
  }
  @media (max-width: 500px) {
    .infoContainer {
        text-align: center;
    }
    .Columns {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
  }